/* break points*/
/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/
.item-content {
  background: url("../img/background-white.png");
  padding: 60px 0px 30px 0px;
}

@media only screen and (max-width: 767px) {
  .item-content {
    padding: 30px 0px 30px 0px;
  }
}

.item-content .item-name {
  font-size: 30px;
  line-height: 42px;
}

@media only screen and (max-width: 767px) {
  .item-content .item-name {
    font-size: 26px;
    line-height: 32px;
  }
}

.item-content .shop-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .item-content .shop-holder {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 5px;
  }
}

.item-content .shop-holder__images {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .item-content .shop-holder__images {
    width: 100%;
  }
}

.item-content .shop-holder__images img {
  width: 33%;
}

.item-content .shop-holder__images img:first-child {
  width: 100%;
}

.item-content .shop-holder__info {
  width: 50%;
  padding: 30px 15px 30px 70px;
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  .item-content .shop-holder__info {
    width: 100%;
    padding: 30px 0px;
  }
}

.item-content .shop-holder__info-available {
  float: left;
}

.item-content .shop-holder__info-article {
  float: right;
  color: #aeaeae;
}

.item-content .shop-holder__info-description {
  margin-top: 50px;
}

.item-content .shop-holder__info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

@media only screen and (max-width: 767px) {
  .item-content .shop-holder__info-price {
    margin-top: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item-content .shop-holder__info-price span {
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 27px;
}

.item-content .shop-holder__info-price .button {
  width: 78px;
  padding: 10px;
  margin: 0px;
}

.item-content .shop-holder__info-including {
  margin-top: 65px;
}

@media only screen and (max-width: 767px) {
  .item-content .shop-holder__info-including {
    margin-top: 20px;
    text-align: center;
  }
}

.item-content .shop-holder__info-including h2 {
  font-size: 24px;
  line-height: 30px;
}

.item-content .shop-holder__info-including ul {
  margin-top: 30px;
  padding-left: 20px;
}

.item-content .shop-holder__info-including ul li {
  list-style-image: url("../img/diamond-black.png");
}
/*# sourceMappingURL=item_page.css.map */