/* break points*/
/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/
.price-content {
  background: url("../img/background-white.png");
  padding: 60px 0px 30px 0px;
}

@media only screen and (max-width: 767px) {
  .price-content {
    padding: 30px 0px 30px 0px;
  }
}

.price-content .price-name {
  font-size: 30px;
  line-height: 42px;
}

@media only screen and (max-width: 767px) {
  .price-content .price-name {
    font-size: 26px;
    line-height: 32px;
  }
}

.price-content .price__header {
  font-size: 48px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .price-content .price__header {
    font-size: 30px;
    line-height: 35px;
  }
}

.price-content .price__header span {
  background: url(../img/background-white.png);
  position: relative;
  z-index: 2;
  padding: 0px 15px;
}

@media only screen and (max-width: 767px) {
  .price-content .price__header span {
    padding: 0px 5px;
  }
}

.price-content .price__header:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price-content .price-holder {
  margin-top: 65px;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder {
    margin-top: 30px;
    text-align: center;
  }
}

.price-content .price-holder-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.price-content .price-holder-using {
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder-using {
    width: 100%;
  }
}

.price-content .price-holder-using ul {
  margin-top: 35px;
  padding-left: 20px;
}

.price-content .price-holder-using ul li {
  margin-bottom: 25px;
  list-style-image: url("../img/diamond-black.png");
}

.price-content .price-holder-prices {
  width: 45%;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder-prices {
    width: 100%;
    padding-top: 20px;
  }
}

.price-content .price-holder__table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder__table {
    margin-top: 20px;
  }
}

.price-content .price-holder__table td, .price-content .price-holder__table th {
  border: 1px solid black;
  padding: 10px 15px;
}

.price-content .price-holder__table td:last-child {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder-info {
    margin-top: 20px;
  }
}

.price-content .price-holder-info .info-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .price-content .price-holder-info .info-holder {
    margin-top: 20px;
  }
}

.price-content .price-holder-info .info-holder p {
  width: 45%;
  line-height: 24px;
  font-size: 14px;
}
/*# sourceMappingURL=price_page.css.map */