@import '_device_mixin';
@import '_normalize';
@import 'header';
@import 'footer';
@import 'main_page';
@import 'price_page';
@import 'shop_page';
@import 'item_page';

html{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
}

.wrap{
    width: 940px;
    margin: 0px auto;

    @include Small{
        width: 768px;
    }
    @include xSmall{
        width: 100%;
        padding: 0px 5px;
    }
}

.button{
    background: black;
    border: 0px;
    color: white;
    text-transform: uppercase;
    padding: 12px;
    width: 140px;
    cursor: pointer;
    margin: 0px;

    &:focus, &:hover{
        background: #663d15;
        outline: 0;
    }
}

.breadcrumbs {
    margin: 30px 0px 60px;

    @include xSmall{
        margin: 30px 0px 10px;
    }

    span {
        font-size: 14px;

        @include xSmall{  
            margin: 0px 0px 10px;
            display: inline-block;
        }
    }
    img{
        margin: 0px 15px;

        @include xSmall{    
            margin: 0px 10px;
        }
    }
    .breadcrumb-active{
        color: #d1cecc;
    }
}